@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(rgba(242, 180, 129, 0.1), rgba(255, 93, 80, 0.1));
}


.jumbo-main {
    background-image: url('trees.jpg');
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 25px;
}

.jumbo-main h1 {
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    font-weight: 700;
}

.jumbo-main p {
    font-weight: 400;
    font-size: 22px;
    line-height: 38.4px;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}

.violet-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(228.51deg, #D74EFE -8.95%, #6802EC 112.98%);
    padding: 12px 32px;
    border-radius: 40px;
}


.card-container {
    background: linear-gradient(219.9deg, rgba(0, 204, 255, 0.04) 2.07%, rgba(0, 0, 255, 0.04) 111.62%);
    width: 400px;
    height: 240px;
    border-radius: 12px;
    border: 0.5px;
    padding: 20px;
}
.top-card-cont img{
    height: 80px;
    margin-right: 20px;
}
.card-container h2 {
    font-weight: 700;
    font-size: 32px;
}

.card-container p {
    font-weight: 400;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.top-card-cont {
    display: flex;
    margin: 10px 0px;
}

.card-div-main {
    padding: 40px 6vw;
    height: 100vh;
    background: #fff;
}
.card-div-main h1{
    font-weight: 700;
    margin-bottom: 20px;
}
.jumbo-main-2 {
    display: flex;
    height: 100vh;
    justify-content: space-between ;
    align-items: center;
    background: #fff;
}
.jumbo-main-2 img{
    height: 100vh;
}
.content-box-1 {
    margin: 0px 7vw;
}
.spacer-20{
    height: 20px;
}
.ext-violet-button {
    padding: 15px 80px;
    text-decoration: none;
    border-radius: 11px;
    background: linear-gradient(228.51deg, #D74EFE -8.95%, #6802EC 112.98%);
    color: white;
    font-weight: 600;
}
.jumbo-main-3 {
    text-align: center;
    padding: 80px 10vw;
    background: #fff;
    font-family: "Inter", sans-serif;
}
.jumbo-main-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    padding: 20vh 10vw;
}
.long-card {
    font-family: "Inter", sans-serif;
    background: linear-gradient(219.9deg, rgba(0, 204, 255, 0.24) 2.07%, rgba(0, 0, 255, 0.24) 111.62%);
    width: 340px;
    height: 450px;
    border-radius: 12px;
}
.package-details a{
    border-radius: 10px ;
}
.package-details ul li {
    list-style-image: url('filled-tick.png');
    text-align: left;
    padding: 5px 10px;
}
.package-details {
    margin: 5px 15px;
}
.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
}
.extra p {
    padding-top: 17px;
}
.clm-flex {
    display: flex;
    flex: row;
}
.jm4-small-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px;
    gap: 20px;
}
.jm4-small-flex p {
    font-weight: 700;
}
.per-month {
    justify-content: center;
    align-items: center;
}
.per-month p {
    padding-top: 15px;
}
.white-full{
    width: 340px;
    height: 1px;
    background-color: #fff;
}
.white-half{
    width: 310px;
    height: 1px;
    background-color: #fff;
    margin: 10px 15px;
}
.offw {
    background-color: #E6E9EA;
}
.white-card {
    height: 400px;
    background: linear-gradient(219.9deg, rgba(0, 204, 255, 0.04) 2.07%, rgba(0, 0, 255, 0.04) 111.62%);
}
.jm3-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.jm3-jumbo {
    background: linear-gradient(219.9deg, rgba(0, 204, 255, 0.1) 2.07%, rgba(30, 186, 254, 0.1) 16.32%, rgba(128, 128, 254, 0.1) 63.42%, rgba(190, 92, 254, 0.1) 96.29%, rgba(215, 78, 254, 0.1) 111.62%);
    border: 1px solid;
    border-image-source: linear-gradient(228.51deg, rgba(215, 78, 254, 0.2) -8.95%, rgba(104, 2, 236, 0.2) 112.98%);
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    padding: 80px;
    margin-top: 50px;
}
.jm3-jumbo h2 {
    font-weight: 700;
    font-size: 32px;
}
.empty ul li {
    list-style-image: url(empty-tick.png);
}
.jumbo-main-5 {
    background-image: url(jm5.png);
    padding: 70px;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
.jumbo-main-5 h2{
    font-weight: 700;
}
footer {
    background: linear-gradient(219.9deg, rgba(0, 204, 255, 0.1) 2.07%, rgba(30, 186, 254, 0.1) 16.32%, rgba(128, 128, 254, 0.1) 63.42%, rgba(190, 92, 254, 0.1) 96.29%, rgba(215, 78, 254, 0.1) 111.62%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10vw;
}
.inline img {
    padding: 6px;
}
.left-foot p{
    margin-top: 35px;
}
.right-foot p{
    margin-top: 40px;
}