@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(rgba(242, 180, 129, 0.1), rgba(255, 93, 80, 0.1));
}


.jumbo-main {
    background-image: url('trees.jpg');
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 25px;
}

.jumbo-main h1 {
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    font-weight: 700;
}

.jumbo-main p {
    font-weight: 400;
    font-size: 24px;
    line-height: 38.4px;
    font-family: "Poppins", sans-serif;
}

.violet-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(228.51deg, #D74EFE -8.95%, #6802EC 112.98%);
    padding: 12px 32px;
    border-radius: 40px;
}


.card-container {
    background: linear-gradient(219.9deg, rgba(0, 204, 255, 0.04) 2.07%, rgba(0, 0, 255, 0.04) 111.62%);
    width: 400px;
    height: 240px;
    border-radius: 12px;
    border: 0.5px;
    padding: 20px;
}
.top-card-cont img{
    height: 80px;
    margin-right: 20px;
}
.card-container h2 {
    font-weight: 700;
    font-size: 32px;
}

.card-container p {
    font-weight: 400;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.top-card-cont {
    display: flex;
    margin: 10px 0px;
}

.card-div-main {
    margin: 40px;
    height: 100vh;
}
.jumbo-main-2 {
    display: flex;
    height: 100vh;
    justify-content: space-between ;
    align-items: center;
}
.jumbo-main-2 img{
    height: 100vh;
}
.content-box-1 {
    margin: 0px 7vw;
}
.spacer-20{
    height: 20px;
}
.ext-violet-button {
    padding: 15px 80px;
    text-decoration: none;
    border-radius: 11px;
    background: linear-gradient(228.51deg, #D74EFE -8.95%, #6802EC 112.98%);
    color: white;
    font-weight: 600;
}
.jumbo-main-3 {
    text-align: center;
}
.jumbo-main-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    padding: 20vh 7vw;
}
.long-card {
    background: linear-gradient(219.9deg, rgba(0, 204, 255, 0.24) 2.07%, rgba(0, 0, 255, 0.24) 111.62%);
    width: 400px;
}